---
export const prerender = false;
import AdminLayout from "../../../layouts/AdminLayout.astro";
import PortfolioAdminList from "../../../components/portfolio/admin/PortfolioAdminList.jsx";
---

<AdminLayout title="Portfolio Projects" fullWidth={true}>
  <div class="portfolio-admin-island-shell">
    <PortfolioAdminList client:only="react" />
  </div>
</AdminLayout>
